.movie-card:hover {
  background: rgb(238, 238, 238);
}

.movie-card:not(:first-child) {
  margin-top: 2rem;
}

.movie-card h5 {
  font-size: 1.5rem;
}

.movie-card .card-text {
  font-size: 1.2rem;
}

.movie-card a {
  text-decoration: none;
  color: #111;
}
